@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #707070;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1117px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 26px;
  text-align: center;
  text-transform: uppercase;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab__body {
  padding: 84px 0 107px;
}

.tab__heading {
  margin: 0 0 70px 0;
  text-align: center;
}

.tab__title {
  margin: 0 0 35px 0;
  color: #2B2B2B;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.tab__paragraph {
  padding: 0 0 0 16px;
  margin: 0 auto;
  max-width: 715px;
  font-size: 14px;
  line-height: 145%;
}

.tabs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 65px;
  gap: 77px;
  padding-left: 65px;
  gap: 77px;
}

.tabs-block__nav {
  padding: 29px 69px 27px 38px;
  background-color: #F6F6F6;
  padding-right: 69px;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 38px;
}

.tabs-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  cursor: pointer;
}

.tabs-block__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.tabs-block__item svg {
  fill: #959795;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block__item span {
  padding: 0 0 3px 0;
  color: #959795;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.tabs-block__item:hover svg {
  fill: #486fb8;
}

.tabs-block__item:hover span {
  color: #486fb8;
}

.tabs-block__item._active svg {
  fill: #343434;
}

.tabs-block__item._active span {
  color: #343434;
}

.tabs-block__body {
  max-width: 672px;
  padding: 19px 0 0;
}

.tabs-block__heading {
  margin: 0 0 32px 0;
  color: #585858;
  font-size: 26px;
  font-weight: 300;
  line-height: 140%;
}

.tabs-block__text {
  font-size: 14px;
  line-height: 140%;
}

.tabs-block__text p:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.document-ico {
  max-width: 24px;
  max-height: 24px;
}

.image-ico {
  max-width: 24px;
  max-height: 24px;
}

.monitor-ico {
  max-width: 24px;
  max-height: 24px;
}

.edit-2-ico {
  max-width: 24px;
  max-height: 24px;
}

.camera-ico {
  max-width: 24px;
  max-height: 24px;
}

.tab2 {
  max-width: 1440px;
}

.tab2__body {
  min-height: 697px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab2__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.0416666667%;
          flex: 0 1 51.0416666667%;
  max-width: 735px;
  padding: 93px 61px 93px 135px;
  background-color: #F6F6F6;
}

.tab2__title {
  font-size: 36px;
  display: inline-block;
  width: 100%;
  margin: 0 0 28px 0;
  color: #000;
  font-size: 36px;
  font-weight: 300;
  line-height: 140%;
}

.tab2__title span {
  font-weight: 500;
}

.tab2__image {
  min-height: 697px;
  min-width: 705px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.9583333333%;
          flex: 0 1 48.9583333333%;
  background-color: #DADADA;
}

.spollers-block__item:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.spollers-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 31px 16px 24px;
  max-width: 533px;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.spollers-block__title span {
  padding: 0 12px 0 0;
  color: #000;
  font-size: 24px;
}

.spollers-block__title h2 {
  padding: 0 0px 0 0;
  color: #414141;
}

.spollers-block__title svg {
  position: absolute;
  right: 26px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.spollers-block__title._active svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.spollers-block__body {
  padding: 24px 31px 13px 23px;
  line-height: 140%;
}

.spollers-block__body:last-child {
  padding: 24px 31px 0 23px;
}

.spoller-arrow {
  max-width: 15px;
  max-height: 15px;
}

.tab3__body {
  padding: 83px 0 125px 0;
}

.tab3__heading {
  margin: 0 0 50px 0;
  text-align: center;
}

.tab3__title {
  margin: 0 0 35px 0;
  color: #2B2B2B;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.tab3__paragraph {
  padding: 0 0 0 16px;
  margin: 0 auto;
  max-width: 715px;
  font-size: 14px;
  line-height: 145%;
}

.tabs-block3__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 46px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 50px;
  row-gap: 50px;
}

.tabs-block3__item {
  color: #9e9e9e;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  line-height: 140%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.tabs-block3__item:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 135px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #4a4a4a;
}

.tabs-block3__item:hover {
  color: #FF573D;
}

.tabs-block3__item._active {
  color: #4a4a4a;
  position: relative;
}

.tabs-block3__item._active:after {
  opacity: 1;
  visibility: visible;
}

.tabs-block3__block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs-block3__block._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-block3__text {
  padding: 50px 38px 46px 46px;
  background-color: #ff3d7f;
}

.tabs-block3__heading {
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  line-height: 140%;
}

.tabs-block3__paragraph {
  margin: 0 0 23px 0;
  color: #fff;
  font-size: 14px;
  line-height: 140%;
}

.tabs-block3__button {
  cursor: pointer;
  gap: 8px;
  background-color: #fff;
  border-radius: 53px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block3__button-item {
  color: #ff3d7f;
  font-size: 12px;
  font-weight: 500;
}

.tabs-block3__button svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: -1px 0 0 0;
  fill: #FF3D7F;
}

.tabs-block3__button:hover {
  background-color: #e6e6e6;
}

.tabs-block3__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66.6973321067%;
          flex: 1 0 66.6973321067%;
  background-color: transparent;
  min-height: 416px;
  background-color: #cacaca;
}

.button-arrow {
  max-width: 10px;
  max-height: 7px;
}

.tab4__body {
  padding: 79px 0 94px;
}

.tab4__heading {
  margin: 0 0 77px 0;
  text-align: center;
}

.tab4__title {
  margin: 0 0 35px 0;
  color: #2B2B2B;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.tab4__paragraph {
  padding: 0 0 0 16px;
  margin: 0 auto;
  max-width: 715px;
  font-size: 14px;
  line-height: 145%;
}

.tab4__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px 90px;
}

.tab4__tabs {
  max-width: 606px;
}

.tab4__card {
  max-width: 375px;
  padding: 43px 43px 31px 31px;
  color: #fff;
  background-color: #6AA84F;
}

.tab4__card-title {
  margin: 0 0 18px 0;
  font-size: 24px;
  line-height: 140%;
}

.tab4__card-text {
  margin: 0 0 23px 0;
  font-size: 12px;
  line-height: 140%;
}

.tabs-block4__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 41px;
  gap: 41px;
}

.tabs-block4__item {
  cursor: pointer;
  color: #818181;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block4__item:hover {
  color: #f1a9a9;
}

.tabs-block4__item._active {
  padding: 6px 18px;
  color: #fff;
  background-color: #353535;
}

.tabs-block4__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px 91px;
  padding: 53px 0 0 0;
}

.tabs-block4__column-left {
  padding: 7px 0 0 0;
  max-width: 211px;
}

.tabs-block4__column-right {
  max-width: 298px;
}

.tabs-block4__heading {
  margin: 0 0 12px 0;
  color: #222222;
  font-size: 28px;
  font-weight: 500;
}

.tabs-block4__subtext {
  color: #707070;
  font-size: 18px;
  line-height: 140%;
}

.tabs-block4__paragraph {
  color: #707070;
  line-height: 140%;
}

.tabs-block4__button {
  cursor: pointer;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  gap: 5px;
  padding: 10px 23px;
  border: 1px solid #fff;
  border-radius: 46px;
}

.tabs-block4__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tabs-block4__button svg {
  fill: #fff;
  margin: -1px 0 0 0;
}

.tabs-block4__button-item {
  color: #fff;
  font-size: 11px;
  font-weight: 500;
}

.card-arrow {
  max-width: 12px;
  max-height: 6px;
}

.tab5 {
  background-color: #E5E5E5;
  width: 100%;
}

.tab5__body {
  padding: 84px 0 115px;
}

.tab5__heading {
  margin: 0 0 83px 0;
  text-align: center;
}

.tab5__title {
  margin: 0 0 35px 0;
  color: #2B2B2B;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.tab5__paragraph {
  padding: 0 0 0 16px;
  margin: 0 auto;
  max-width: 715px;
  font-size: 14px;
  line-height: 145%;
}

.tabs-block5__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 83px 0;
  gap: 78px;
  gap: 78px;
}

.tabs-block5__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block5__item:hover img {
  opacity: 0.8;
}

.tabs-block5__item img {
  opacity: 0.4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block5__item span {
  color: #000;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.tabs-block5__item._active img {
  opacity: 1;
}

.tabs-block5__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.tabs-block5__product:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.tabs-block5__product:after {
  content: "";
  display: inline-block;
  position: absolute;
  max-width: 530px;
  width: 100%;
  height: 1px;
  bottom: -15px;
  left: 0;
  background-color: #BFBFBF;
}

.tabs-block5__catalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
}

.tabs-block5__column {
  max-width: 530px;
}

.tabs-block5__product {
  cursor: pointer;
}

.tabs-block5__product-top {
  max-width: 530px;
  width: 100%;
  margin: 0 0 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.tabs-block5__product-text {
  color: #707070;
  line-height: 140%;
}

.tab6__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
}

.tab6__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 633px;
  background-color: #d8d8d8;
}

.tab6__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 64px 95px 64px 69px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 95px;
  padding-left: 69px;
  color: #fff;
  background-color: #FF573D;
}

.tab6__title {
  margin: 0 0 5px 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
}

.tab6__subtitle {
  margin: 0 0 66px 0;
  position: relative;
  font-size: 32px;
  font-weight: 300;
  line-height: 140%;
}

.tab6__subtitle:after {
  content: "";
  display: inline-block;
  position: absolute;
  max-width: 556px;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -40px;
  background-color: #EE644F;
}

.tabs-block6__nav {
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs-block6__item {
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block6__item:hover {
  color: #cccccc;
}

.tabs-block6__item._active:after {
  content: "";
  display: inline-block;
  position: absolute;
  max-width: 135px;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
}

.tabs-block6__text {
  padding: 0 47px 0 0;
  margin: 0 0 37px 0;
  font-weight: 500;
  line-height: 140%;
}

.tabs-block6__text p:not(:last-child) {
  margin: 0px 0px 26px 0px;
}

.tabs-block6__button {
  cursor: pointer;
  gap: 8px;
  background-color: #fff;
  border-radius: 53px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block6__button-item {
  color: #ff3d7f;
  font-size: 12px;
  font-weight: 500;
}

.tabs-block6__button svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: -1px 0 0 0;
  fill: #FF3D7F;
}

.tabs-block6__button:hover {
  background-color: #e6e6e6;
}

.tab7__body {
  padding: 80px 0 140px 0;
  padding-top: 80px;
  padding-bottom: 140px;
}

.tabs-block7__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 95px 0;
  gap: 0 4px;
}

.tabs-block7__item {
  cursor: pointer;
  padding: 13px 10px;
  color: #6b6b6b;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F7F7F7;
  border: 1px solid #E5E5E5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.tabs-block7__item:hover {
  background-color: #e6e6e6;
}

.tabs-block7__item:not(:last-child):before {
  content: "";
  position: absolute;
  right: -6px;
  bottom: -1px;
  width: 6px;
  border-bottom: 1px solid #e5e5e5;
}

.tabs-block7__item:first-child:after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 161px;
  border-bottom: 1px solid #e5e5e5;
}

.tabs-block7__item:last-child:before {
  content: "";
  position: absolute;
  right: -104px;
  bottom: -1px;
  width: 104px;
  border-bottom: 1px solid #e5e5e5;
}

.tabs-block7__item._active {
  background-color: #fff;
  margin: -1px 0 0 0;
  border-bottom: transparent;
  position: relative;
}

.tabs-block7__item._active:not(:last-child):before {
  content: "";
  position: absolute;
  right: -6px;
  bottom: 0;
  width: 6px;
  border-bottom: 1px solid #e5e5e5;
}

.tabs-block7__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 347px;
}

.tabs-block7__image {
  max-height: 347px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 471px;
          flex: 0 1 471px;
  background-color: #C4C4C4;
}

.tabs-block7__image img {
  max-width: 100%;
  display: inline-block;
}

.tabs-block7__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 508px;
          flex: 0 1 508px;
  padding: 12px 0 0 84px;
  padding-left: 84px;
}

.tabs-block7__subtitle {
  margin: 0 0 3px 0;
  color: #3F3C3C;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.tabs-block7__title {
  margin: 0 0 17px 0;
  color: #3966E6;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
}

.tabs-block7__paragraph {
  margin: 0 0 22px 0;
  font-size: 12px;
  line-height: 140%;
}

.tabs-block7__paragraph p:not(:last-child) {
  margin: 0px 0px 21px 0px;
}

.tabs-block7__button {
  display: inline-block;
  max-width: 146px;
  padding: 9px 12px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #3966E6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs-block7__button:hover {
  background-color: #153aa4;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1400px) {
  .tab2__text {
    padding: 93px 61px 93px 20px;
  }

  .spollers-block__title {
    padding: 19px 20px 16px 5px;
  }

  .spollers-block__title span {
    padding: 0 5px 0 0;
  }

  .spollers-block__title svg {
    right: 5px;
  }
}

@media (max-width: 1240px) {
  .spollers-block__body {
    max-width: 533px;
  }
}

@media (max-width: 1117px) {
  .tabs-block {
    padding-left: calc(0px + 65 * ((100vw - 320px) / 797));
  }

  .tabs-block {
    gap: calc(15px + 62 * ((100vw - 320px) / 797));
  }

  .tabs-block__nav {
    padding-right: calc(10px + 59 * ((100vw - 320px) / 797));
  }

  .tabs-block__nav {
    padding-top: calc(15px + 14 * ((100vw - 320px) / 797));
  }

  .tabs-block__nav {
    padding-bottom: calc(20px + 7 * ((100vw - 320px) / 797));
  }

  .tabs-block__nav {
    padding-left: calc(10px + 28 * ((100vw - 320px) / 797));
  }

  .tab2__title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 797));
  }

  .tabs-block3__nav {
    row-gap: calc(10px + 40 * ((100vw - 320px) / 797));
  }

  .tabs-block4__nav {
    gap: calc(15px + 26 * ((100vw - 320px) / 797));
  }

  .tabs-block5__nav {
    gap: calc(10px + 68 * ((100vw - 320px) / 797));
  }

  .tab6__info {
    padding-top: calc(25px + 39 * ((100vw - 320px) / 797));
  }

  .tab6__info {
    padding-bottom: calc(20px + 44 * ((100vw - 320px) / 797));
  }

  .tab6__info {
    padding-right: calc(15px + 80 * ((100vw - 320px) / 797));
  }

  .tab6__info {
    padding-left: calc(15px + 54 * ((100vw - 320px) / 797));
  }

  .tab7__body {
    padding-top: calc(0px + 80 * ((100vw - 320px) / 797));
  }

  .tab7__body {
    padding-bottom: calc(5px + 135 * ((100vw - 320px) / 797));
  }

  .tabs-block7__text {
    padding-left: calc(5px + 79 * ((100vw - 320px) / 797));
  }
}

@media (max-width: 1000px) {
  .tab2__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tab2__text {
    width: 100%;
    padding: 0 0 15px 0;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .tab2__image {
    width: 100%;
  }

  .spollers-block__title {
    margin: 0 auto;
  }

  .spollers-block__body {
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 930px) {
  .tabs-block4__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs-block4__column-left {
    max-width: 435px;
  }

  .tabs-block4__column-right {
    max-width: 435px;
  }
}

@media (max-width: 767.98px) {
  .tabs-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs-block__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 10px 20px 10px;
    gap: 5px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .tabs-block__item:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }

  .tabs-block__body {
    padding: 0 15px;
  }

  .tabs-block3__block._active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs-block3__image {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .tab4__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs-block4__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .tab6__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs-block7__nav {
    margin: 0 0 20px 0;
  }

  .tabs-block7__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs-block7__image {
    width: 100%;
  }

  .tabs-block7__text {
    padding-left: 0;
  }
}

@media (max-width: 540px) {
  .spollers-block__title {
    max-width: 533px;
    padding: 19px 22px 16px 5px;
  }

  .spollers-block__title span {
    padding: 0 5px 0 0;
  }

  .spollers-block__title svg {
    right: 5px;
  }

  .spollers-block__body {
    max-width: 533px;
    padding: 5px 31px 0 23px;
  }

  .spollers-block__body:last-child {
    padding: 5px 31px 0 23px;
  }
}

@media (max-width: 540px) and (max-width: 1117px) {
  .spollers-block__title {
    max-width: calc(320px + 213 * ((100vw - 320px) / 797));
  }

  .spollers-block__body {
    max-width: calc(320px + 213 * ((100vw - 320px) / 797));
  }
}

@media (max-width: 531px) {
  .tabs-block5__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 45px;
  }
}

@media (max-width: 480px) {
  .tabs-block3__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 380px) {
  .tabs-block4__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .tabs-block4__item {
    font-size: 14px;
  }
}